<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huixian.system.mapper.UserInfoMapper">

    <!--查询列-->
    <sql id="selectColumn">
       select `id`,`nickname`, `password`, `name`, `stu_id`, `gender`, `phone`, `grade`, `file_id`, `status` from user_info
    </sql>

    <!--查询列-->
    <sql id="avatarColumn">
       select file_id,file_name,file_path,src_path from user_photo
    </sql>

    <!--查询封装-->
    <resultMap id="selectMap" type="com.huixian.common.domain.UserInfo">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="stuId" column="stu_id"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="grade" column="grade"/>
        <result property="fileId" column="file_id"/>
        <result property="status" column="status"/>
        <association property="avatar" select="com.huixian.system.mapper.AvatarMapper.findAvatarById" column="file_id"/>
    </resultMap>

    <!-- =========================== 查询语句============================== -->
    <select id="findAllUsers" resultMap="selectMap">
        <include refid="selectColumn"/>
    </select>

    <select id="findUserById" resultMap="selectMap">
        <include refid="selectColumn"/>
        where id = #{id}
    </select>

    <select id="findUserByStuId" resultMap="selectMap">
        <include refid="selectColumn"/>
        where stu_id = #{stuId}
    </select>

    <select id="findUserCount" resultType="integer">
        select count(id) from user_info
    </select>

    <select id="findUserByStuIdAndPassWord" parameterType="com.huixian.common.domain.UserInfo" resultMap="selectMap">
        <include refid="selectColumn"/>
        where stu_id = #{stuId} and password = #{password}
    </select>

    <select id="findFileIdByFileName" resultType="java.lang.Integer">
        <include refid="avatarColumn"/>
        where file_name = #{fileName}
    </select>
    <!-- =========================== 查询结束============================== -->


    <!-- =========================== 插入语句 ============================== -->
    <insert id="addUser" parameterType="com.huixian.common.domain.UserInfo">
        INSERT INTO `user_info` (
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">`id`,</if>
            <if test="nickname != null and nickname != ''">`nickname`,</if>
            <if test="password != null and password != ''">`password`,</if>
            <if test="name != null and name != ''">`name`,</if>
            <if test="stuId != null and stuId != ''">`stu_id`,</if>
            <if test="gender != null and gender != ''">`gender`,</if>
            <if test="phone != null and phone != ''">`phone`,</if>
            <if test="grade != null and grade != ''">`grade`,</if>
            <if test="fileId != null and fileId != ''">`file_id`,</if>
            <if test="status != null and status != ''">`status`</if>
        </trim>
        )VALUES (
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="nickname != null and nickname != ''">#{nickname},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="stuId != null and stuId != ''">#{stuId},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="grade != null and grade != ''">#{grade},</if>
            <if test="fileId != null and fileId != ''">#{fileId},</if>
            <if test="status != null and status != ''">#{status}</if>
        </trim>
        )
    </insert>

    <insert id="upload">
        INSERT INTO `user_photo` (
        <trim suffixOverrides=",">
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="filePath != null and filePath != ''">file_path,</if>
            <if test="srcPath != null and srcPath != ''">src_path</if>
        </trim>
        )VALUES (
        <trim suffixOverrides=",">
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="filePath != null and filePath != ''">#{filePath},</if>
            <if test="srcPath != null and srcPath != ''">#{srcPath}</if>
        </trim>
        )
    </insert>
    <!-- =========================== 插入结束 ============================== -->


    <!-- =========================== 修改语句 ============================== -->
    <update id="updateUserById" parameterType="com.huixian.common.domain.UserInfo">
        UPDATE `user_info`
        <set>
            <if test="nickname != null and nickname != ''">`nickname` = #{nickname},</if>
            <if test="password != null and password != ''">`password` = #{password},</if>
            <if test="name != null and name != ''">`name` = #{name},</if>
            <if test="stuId != null and stuId != ''">`stu_id` = #{stuId},</if>
            <if test="gender != null and gender != ''">`gender` = #{gender},</if>
            <if test="phone != null and phone != ''">`phone` = #{phone},</if>
            <if test="grade != null and grade != ''">`grade` = #{grade},</if>
            <if test="fileId != null and fileId != ''">`file_id`= #{fileId},</if>
            <if test="status != null ">`status` = #{status}</if>
        </set>
        where id = #{id}
    </update>

    <update id="updatePassword">
        UPDATE `user_info`
        <set>
            <if test="pwd != null and pwd != ''">`password` = #{pwd},</if>
        </set>
        where stu_Id = #{stuId}
    </update>

    <update id="updateAvatar">
        UPDATE `user_info`
        <set>
            <if test="fileId != null and fileId != ''">`file_id` = #{fileId},</if>
        </set>
        where stu_Id = #{stuId}
    </update>


    <!-- =========================== 修改结束 ============================== -->


    <!-- =========================== 删除语句 ============================== -->
    <delete id="deleteUserById" parameterType="string">
        delete from user_info where id = #{id}
    </delete>
    <!-- =========================== 删除结束 ============================== -->

</mapper>